.mainContent {
  display: flex;
  justify-content: end;
  align-items: start;
  background-image: url(../assets/images/escocia.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}
