.mainContent {
    display: flex;
    justify-content: space-around;
    gap: 5%;
    color: rgb(40, 40, 87);
    padding: 100px 0;
}

.mainImage {
    width: 40%;
}

.mainTextArea {
    max-width: 40%;
    text-align: center;
}

.mainTitle {
    font-size: 4.5rem;
}

.mainText {
    font-size: 1.8rem;
}